<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>じゃんけんゲーム</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        <h1>じゃんけんゲーム</h1>
        <section id="result"></section>
        <div id="historyButton">履歴</div>
        <section id="cpuHand"></section>
        <div id="userSelect" name="jankenForm">
            <input type="radio" id="rock" name="janken" value="0" checked>
            <label for="rock">グー</label>
            <input type="radio" id="scissors" name="janken" value="1">
            <label for="scissors">チョキ</label>
            <input type="radio" id="paper" name="janken" value="2">
            <label for="paper">パー</label>
        </div>
    </main>
    <script type="module" src="../wwwroot/js/sample.js"></script>
</body>

</html>