<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/subStyle.css">
</head>
<body>
    <main>
        <h1>じゃんけんゲーム対戦履歴</h1>
        <table>
            <thead>
                <tr>
                    <th>ゲーム数</th>
                    <th>自分</th>
                    <th>CPU</th>
                    <th>勝敗結果</th>
                    <th>累計勝率</th>
                </tr>
            </thead>
            <tbody id="jankenResult"></tbody>
        </table>
        <div id="returnGame">戻る</div>
    </main>
    <script type="module" src="../wwwroot/js/Views/sub.js"></script>
</body>
</html>